#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.leaderboard-container {
  max-height: 100vh; /* Adjust height as needed */
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

thead {
  background-color: #000000;
}

.quote-display {
  font-size: 3.2rem;
}

@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}

.typing-cursor {
  height: 1em; /* Match the line-height of your text */
  width: 2px; /* Thin vertical line */
  background-color: black; /* Cursor color */
  display: inline-block; /* Align with inline text */
  margin-left: 2px; /* Optional: Adjust spacing from the last character */
  animation: blink 1s infinite;
}

.untyped {
  color: white;
}

.correct {
  color: rgb(0, 255, 0);
}

.incorrect {
  color: rgb(255, 0, 0);
  text-decoration: underline;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
