#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  margin-top: 5%;
  align-items: baseline;
  position: relative;
  top: 3rem;
}

.running {
  font-size: 3.2rem;
  grid-column: 2 / 3;
}

.last {
  font-size: 1.2rem;
  grid-column: 3 / 4
}

.main-container {
  display: flex;
  justify-content: space-between;
  height: 70vh; /* Full viewport height */
}

.quote-display {
  font-size: 3.2rem;
  letter-spacing: 2px;
  grid-column: 2 / 3;
  margin: 5rem; /* Places the quote display in the center column */
  justify-self: center; /* Ensures the quote display is centered within its column */
}

.left-column {
  font-size: medium;
}

.right-column { /*Why the frick is the leaderboard down there?*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  top: -7rem;
}

.leaderboard-container {
  max-height: 100vh; /* Adjust height as needed */
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

thead {
  background-color: #000000;
}

@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}

.typing-cursor {
  position: absolute;
  height: 1.5em; /* Match the line-height of your text */
  width: 2px; /* Thin vertical line */
  background-color: black; /* Cursor color */
  display: inline-block; /* Align with inline text */
  margin-left: 2px; /* Optional: Adjust spacing from the last character */
  animation: blink 1s infinite;
}

.untyped {
  color: white;
}

.correct {
  color: rgb(0, 255, 0);
}

.incorrect {
  color: rgb(255, 0, 0);
  text-decoration: underline;
}
