#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.quote-display {
  font-size: 3.2rem;
}

.untyped {
  color: white;
}

.correct {
  color: rgb(0, 255, 0);
}

.incorrect {
  color: rgb(255, 0, 0)
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
